@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

/* === COMMON STYLE START === */
:root {
  --primary: #088178;
  --secondry: #1a1a1a;
}

h1 {
  font-size: 85px;
  font-weight: 900;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 90px;
  color: #222;
}

h4 {
  font-size: 25px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 22px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}
.title {
  margin-bottom: 50px;
}
/* === COMMON STYLE END === */

/* side scroll design */
html {
  --scrollbarBG: #c9d5da;
  --thumbBG: #92acb8;
}
body::-webkit-scrollbar {
  width: 13px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

html {
  background: lightgrey;
  overflow: hidden;
}
body {
  height: 100vh;
  background: whitesmoke;
  overflow-y: auto;
  margin: 0 auto;
  font: 100%/1.4 serif;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
/* side scroll design */

/* === Header part start === */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #f8e9fc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  margin: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: var(--secondry);
  transition: color 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: var(--primary);
}
#navbar li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--primary);
  bottom: -4px;
  left: 0;
  transition: 0.4s ease-in-out;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  width: 100%;
}
#navbar li a .icon-first:hover {
  color: var(--primary);
}
.icon {
  width: 30px !important;
  color: var(--secondry);
}
#mobile {
  display: none;
}

/* Responsive part */
@media (max-width: 799px) {
  #header {
    padding: 20px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #eac9f0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
  }
  #mobile a {
    padding: 5px 10px 0 0;
  }
  .hambar {
    cursor: pointer;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    width: 25px;
  }
}
/* === Header part end === */

/* Home Page */
#hero {
  background-image: url("./img/hero4.jpg");
  height: calc(100vh - 84px);
  width: 100%;
  background-position: top 60% right 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 20px;
}
#hero h2 {
  padding-bottom: 10px;
  font-weight: 800;
  line-height: 80px;
}

#hero h1 {
  color: var(--primary);
  padding-bottom: 20px;
}

/* #hero button {
  background-image: url("./img/button.png");
  padding: 14px 70px 14px 65px;
  background-color: transparent;
  color: var(--primary);
  border: 0;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
} */
#hero .btn-hero {
  padding: 20px 45px;
  font-size: 20px;
  border: none;
  color: #ffff;
  border: 1px solid var(--secondry);
  background-color: var(--secondry);
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease-in;
}
#hero .btn-hero:hover {
  background-color: #ffff;
  color: var(--secondry);
  border: 1px solid var(--secondry);
}

/* Feature page */
#feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  margin: 50px 80px;
}
#feature .fe-box {
  width: 200px;
  padding: 25px 15px;
}
#feature .fe-box h6 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  text-align: center;
}

/* Trending page */
#trending {
  text-align: center;
}
#trending .items-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items-container .items {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #8cca93;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.items-container .items:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
.main-items {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.main-items figcaption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}
figcaption div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #212d47;
  text-transform: uppercase;
  transition: 0.4s ease-in;
}
figcaption div:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 45%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #2c3e50;
  transition: 0.5s ease-in;
}
figcaption:hover div:after {
  width: 50%;
}
figcaption:hover div {
  opacity: 1;
  top: 0;
}

.main-items:hover figcaption {
  background: rgba(255, 255, 255, 0.3);
}

.items-container .items img {
  width: 100%;
  border-radius: 20px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.items-container .items:hover img {
  /* -webkit-transform: scale3d(1.2, 1.2, 1); */
  transform: scale3d(1.2, 1.2, 1);
}

.items-container .items .des {
  text-align: start;
  padding: 10px 0;
}
.items-container .items .des span {
  color: #88888e;
  font-size: 16px;
}
.items-container .items .des h5 {
  color: var(--secondry);
  font-size: 18px;
  padding: 5px 0 5px 0;
}
.items-container .items .des i {
  font-size: 14px;
  color: #eec11e;
}
.items-container .items .des h4 {
  padding-top: 8px;
  font-weight: 800;
  color: var(--primary);
}
.items-container .items .fa-shopping-cart {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary);
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  line-height: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* banner page */

#banner-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
  flex-wrap: wrap;
  align-content: flex-end;
  background-image: url(./img/banner/discount.png);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: top 20% center;
}
#banner-m h4 {
  font-size: 60px;
  color: #fff;
}
#banner-m span {
  font-size: 60px;
  color: #da1e1e;
}
#banner-m .btn {
  padding: 20px 30px;
  font-size: 16px;
  border: 1px solid var(--secondry);
  color: #ffff;
  background-color: var(--secondry);
  cursor: pointer;
  transition: 0.3s ease-in;
}
#banner-m .btn:hover {
  background-color: #ffff;
  color: var(--secondry);
}
